<header>
  <a href="/"><h1>POTLUCK</h1></a>
  <nav>
    <div id="menu">
      <a href="/">Main Page</a>
      <a href="/new">Add a Recipe</a>
      <a href="/user/forms">Create Account</a>
      <a href="/user/forms">Login</a>
      <a href="/user/logout">Logout</a>
    </div>
    <div id="hamburger">
      <label id="hamburger-label" for="hamburger-toggle">
        <div class="hamburger-line">hi</div>
        <div class="hamburger-line">hi</div>
        <div class="hamburger-line">hi</div>
      </label>
      <input type="checkbox" id="hamburger-toggle" />
    </div>
  </nav>
</header>
