<header>
  <a href="/"><h1>POTLUCK</h1></a>
  <nav>
    <a href="/">Main Page</a>
    <a href="/new">Add a Recipe</a>
    <a href="/user/forms">Create Account</a>
    <a href="/user/forms">Login</a>
    <a href="/user/logout">Logout</a>
  </nav>
</header>
