<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/header.ejs")%>
    <main>
      <fieldset id="new">
        <legend>Add a Recipe to your Cookbook</legend>
        <p>
          This can be the whole shebang with detailed instructions, a screenshot
          of a text your mom sent, a link to someone else's creation. Whatever
          you want to keep track of!
        </p>
        <form action="/" method="post">
          <label
            >Recipe Name (this one is required): <input type="text" name="name"
          /></label>
          <label
            >Picture 1 (a link ending in jpeg or png - Hint: upload it to imgur
            and paste the image address): <input type="text" name="img"
          /></label>
          <label>Picture 2:<input type="text" name="img2" /></label>
          <label
            >The Ingredients (separate each one by a comma):<input
              type="text"
              name="ingredients"
              id="big-input"
          /></label>
          <label
            >The Instructions (separate each step by a semi-colon):<input
              type="text"
              name="instructions"
              id="big-input"
          /></label>
          <label
            >A Link to a Dish You Love:<input type="text" name="link"
          /></label>
          <label
            >Anything you want to add?
            <input type="text" name="notes" id="big-input"
          /></label>
          <button>Add Recipe</button>
        </form>
      </fieldset>
    </main>
  </body>
</html>
